nav
{
  font-weight: bold;
}

h2, h3
{
  color : #303030;
  font-weight: bold;
}

h2
{
  font-size: x-large;
}

h3
{
  font-size: large;
}

p
{
  color : black;
}

body
{
  padding-top: 60px;
}

.footer
{
   width: 100%;
   left: 0;
   bottom: 0;
   margin: 0;
   padding: 15px;

   text-align: center;
   background-color: #E9E9E9;
   color: #505050;
   font-size: 14px;
}

.carousel
{
  width : 45%;
}



.carousel-inner img
{
  width : 100%;
}

#myCarousel
{
  margin-left: auto;
  margin-right: auto;
}

.robotBleu
{
  position: relative;
  background-image: url("../images/robot-chenilles.png");
  background-repeat: no-repeat;
  background-size: 50%;
  width: 130px;
  height: 130px;

  animation-name: robot;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: -4s;
}

.robotBleu::after
{
  content: '';
  display : block;

  position: relative;
  background-image: url("../images/robot-corps-bleu.png");
  background-repeat: no-repeat;
  background-size: 75%;
  width: 140px;
  height: 140px;

  left:-20px;
  top:20px;
}

.robotRouge
{
  position: relative;
  background-image: url("../images/robot-chenilles.png");
  background-repeat: no-repeat;
  background-size: 50%;
  width: 130px;
  height: 130px;

  animation-name: robot;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.robotRouge::after
{
  content: '';
  display : block;

  position: relative;
  background-image: url("../images/robot-corps-rouge.png");
  background-repeat: no-repeat;
  background-size: 75%;
  width: 140px;
  height: 140px;

  left:-20px;
  top:20px;
}

@keyframes robot
{
  0%   {left:0%; transform: rotate(0deg);}
  25%  {left:90%; transform: rotate(0deg);}
  50%  {left:90%; transform: rotate(180deg);}
  75%  {left:0%; transform: rotate(180deg);}
  100% {left:0%; transform: rotate(360deg);}
}

.regle
{
  height: 80px;
  margin-bottom: 20px;
}

#action div img
{
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
  position : relative;
  float: left;
  margin-right: -15px;
}

#action img:nth-child(1)
{
  transform: rotate(355deg);
  margin-left: 10px;
}

#action img:nth-child(2)
{
  left : -25px;
  top : 15px;
}

#jouer .big-icon
{
  font-size: 100px;
  padding-right: 10px;
  padding-bottom: 30px;
  float: left;
  margin: auto;
}

.zoneJouer
{
  padding: 30px 4% 30px 4%;
  text-align: justify;
}

#jouer a
{
  text-decoration : none;
  color: black;
}

.selection .zoneJouer:first-child:hover .big-icon
{
  color: red;
}

.selection .zoneJouer:last-child:hover .big-icon
{
  color: blue;
}

@media(max-width: 992px)
{
  .carousel
  {
    width : 70%;
  }

  #jouer .big-icon
  {
    font-size: 80px;
  }

  .zoneJouer
  {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media(max-width: 768px)
{
  body
  {
    padding-top: 180px;
  }
}
